
<h1 class="text-center p-5">Manage Houses</h1>

<%= link_to 'New House', new_house_path, class:'btn bg-main mb-5 mt-5 btn-lg btn-block' %>
    
    <% @houses.each do |house| %>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h5><%= house.title %></h5>
        $<%= house.price %> /month
        <br/>
        <p><%= house.about %></p>
        <div>
        <%= link_to 'Edit', edit_house_path(house), class: 'btn bg-main' %>
        <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-main' %>
        </div>
    </div>
    <% end %>
<br>


