<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Search House Web App</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <% if notice != nil %>
    <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert != nil %>
    <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <div id="main">
      <%= render 'shared/navbar'  %> 
      <%= render 'shared/sidebar'  %>


          <div class="display-zone">
            <%= yield %>
          </div>

     </div>

    <script>
      function openNav() {
        document.getElementById("mySidebar").style.width = "280px";
        document.getElementById("main").style.marginLeft = "280px";
        document.getElementById("opn-btn").style.display = "none";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("opn-btn").style.display = "flex";
      }
    </script>

  </body>
</html>
